# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/

# Test and coverage reports
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db